<h1>login</h1>
<form action="/login" method="POST">
    <input type="text" name="username" id="" placeholder="username">
    <input type="passsword" name="password" id="" placeholder="password">
    <button>Submit</button>
</form>
<li><a href="/register">Sign Up!</a></li>
<li><a href="/login">Login!</a></li>
<li><a href="/logout">Logout!</a></li>