<h1>This is the secret page!</h1>

<p>You found me</p>

<img src="https://cdn.stocksnap.io/img-thumbs/280h/flower-blossom_IVKOTPFVNK.jpg" alt="">
<li><a href="/register">Sign Up!</a></li>
<li><a href="/login">Login!</a></li>
<li><a href="/logout">Logout!</a></li>