<%- include("partials/header") %>
<h1>This is the homepage</h1>
<img
    src="https://goop.com/wp-content/uploads/1990/03/Banff-Hero-AUR0018949-1735x1153.jpg"
    alt=""
>
<%- include ("partials/footer") %>